*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    font-family:Arial, Helvetica, sans-serif;
    height:50px;
    background-color:#0D8BF2;
    color:rgb(249, 249, 249);
    padding-top: 10px;
    text-align: center;
    display:block;   
}

.textview{
    border: none;
    width: 245px;
    height: 50px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 12px; 
    font-size: 25px;        
    padding-right: 5px;
    text-align: right;
    border-radius: 15px;
    background-color:#D5E3E4;
    color:black;
    box-shadow: inset 1px 1px 5px #3C3C3C; 
}	
        
.calculator {   
    width: 270px;
    height: 440px;
    padding : 5px;   
    margin-top: 25px;
    border-radius: 10px;
    background-color:#3A4352; 
    position: absolute;
    top: 50%; 
    left:50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 3px 15px rgba(11, 11, 11, 0.5);            
} 
              
.btn{
    font-family:Arial, Helvetica, sans-serif;
    border: none;           
    width:50px;
    height: 50px;
    margin:6px;           
    border-radius: 16px;
    cursor: pointer;
    background-color:#3A4352;
    color:white;
    font-size:22px; 
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);        
    text-align: center;           
}

input:click{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 20px white  inset;
}

#operator{
    color:white;
    font-weight: bold;
}

#equal{
    font-size:35px;
    background-color:#EB741A;
    color:white;
}

.btn:hover{
    box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.5);
}
#company{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*background-color: #f95007;*/
    color: #D5E3E4;
    box-sizing: border-box;
    text-align:left;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right:0px;
    margin: none;
}
#edition{
    font-family: Arial, Helvetica, sans-serif;
    color: #D5E3E4;
    box-sizing: border-box;
    text-align:right;
    margin:0;
    padding-right:25px;
}       